{% extends 'base.html'%}


{% block head %}
<title>Fish measurements</title>
{% endblock %}

{% block body %}
<h3>Enter fish measurements:</h3>
<form action="http://localhost:5000/predictions" method="POST">
    <p>Diagonal length <input type="number" name="length1"/></p>
    <p>Vertical length <input type="number" name="length2"/></p>
    <p>Cross length <input type="number" name="length3"/></p>
    <p>Width <input type="number" name="width"/></p>
    <p>Height <input type="number" name="height"/></p>
    <p>Weight <input type="number" name="weight"/></p>
    <p><input type="submit" value="submit"/></p>
</form>
{% endblock %}