{% extends 'base.html'%}


{% block head %}
<title>Fish measurements</title>
{% endblock %}

{% block body %}
<h3>Enter fish measurements:</h3>
<form action={{ url_for('predictions') }} method="post">
    <p>Diagonal length <input type="number" name="length1" required="required"/></p>
    <p>Vertical length <input type="number" name="length2" required="required"/></p>
    <p>Cross length <input type="number" name="length3" required="required"/></p>
    <p>Width <input type="number" name="width" required="required"/></p>
    <p>Height <input type="number" name="height" required="required"/></p>
    <p>Weight <input type="number" name="weight" required="required"/></p>
    <button type="submit" >Predict</button>
</form>
{% endblock %}